#fundo {
    background: linear-gradient(to bottom, rgb(12, 12, 12), #292929);
}

#bg_nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999999;
}

/* ============================== FONTES =================================== */
@font-face {
    font-family: 'Playpen_Sans';
    src: url('../fontes/PlaypenSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Playpen_Sans_Extra_bold';
    src: url('../fontes/PlaypenSans-ExtraBold.ttf');
}

#logo_header{
    font-family: 'Playpen_Sans_Extra_bold';
    color: #f8741d;
}

@font-face {
    font-family: 'Sometype_Mono';
    src: url('../fontes/SometypeMono-VariableFont_wght.ttf');
}

#Sometype{
    font-family: "Sometype_Mono";
    color: white;
    font-size: 13pt;
}

#Sometype:hover {
    color: #f8741d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

@font-face {
    font-family: 'Night_Pumpkin';
    src: url('../fontes/NightPumpkind-1GpGv.ttf');
}

#Night_Pumpkin{
    font-family: "Night_Pumpkin";
    color: white;
    font-size: 15pt;
}

@font-face {
    font-family: 'Drip_Octuber';
    src: url('../fontes/DripOctober-vm0JA.ttf');
}
