
/* ============================== GERAL =================================== */
#fundo_index {
    background: linear-gradient(to bottom, rgb(12, 12, 12), #292929);
}

a{
    text-decoration: none;
}


@keyframes inflate {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.inflar {
    animation: inflate 1.5s ease-in-out;
}

.shape_bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: soft-light;
    opacity: .5;
    z-index: -1;
}

/* ============================== FONTES =================================== */
@font-face {
    font-family: 'Playpen_Sans';
    src: url('../fontes/PlaypenSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Playpen_Sans_Extra_bold';
    src: url('../fontes/PlaypenSans-ExtraBold.ttf');
}

#logo_header{
    font-family: 'Playpen_Sans_Extra_bold';
    color: #f8741d;
}

@font-face {
    font-family: 'Sometype_Mono';
    src: url('../fontes/SometypeMono-VariableFont_wght.ttf');
}

#Sometype{
    font-family: "Sometype_Mono";
    color: white;
    font-size: 13pt;
}

#Sometype:hover {
    color: #f8741d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

@font-face {
    font-family: 'Night_Pumpkin';
    src: url('../fontes/NightPumpkind-1GpGv.ttf');
}

#Night_Pumpkin{
    font-family: "Night_Pumpkin";
    color: white;
    font-size: 15pt;
}

@font-face {
    font-family: 'Drip_Octuber';
    src: url('../fontes/DripOctober-vm0JA.ttf');
}

#txt_motivacional{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#txt_doces{
    font-family: 'Drip_Octuber';
}

#txt_sobre{
    font-family: 'Sometype_Mono';
}

/* ============================== Detalhes =================================== */

.btn_explore {
    font-size: 18pt;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: color;
    transition-property: color;
  }
  
  .btn_explore:focus,
  .btn_explore:hover {
    color: #fff;
  }
  
  .btn_explore:focus:after,
  .btn_explore:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .btn_explore:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transition-property: width, left;
    transition-property: width, left;
  }

  /* Girar o botão de configurações */

  .btn_config {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px 12px;
    gap: 8px;
    height: 36px;
    margin-right: 50px;
    border: none;
    background: transparent;
    border-radius: 20px;
    cursor: pointer;
  }

  .btn_config:hover .svg-icon {
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }


.inflar_mouse{
    transition: transform 0.3s;
}

.inflar_mouse:hover{
    transform: scale(1.2);
}


.arvore1 {
    left: -2rem;
    width: 20%;
}

.arvore2{
    right: -2rem;
    width: 20%;
}

#end_btn{
    background: transparent; 
    border-radius: 50%; 
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#end_btn:hover{
    background-color: #f8741d;
    border: 2px solid #2b1069;
    color: #2b1069;
}

#info_btn{
    background: transparent; 
    border-radius: 50%; 
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#info_btn:hover{
    background-color: #f8741d;
    border: 2px solid #2b1069;
    color: #2b1069;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse os limites da div */
    width: 170px; /* Defina o tamanho desejado para a div */
    margin-left: 43%;
    margin-right: 50%;
    cursor: pointer;
}

.profile-image {
    border-radius: 50%;
    max-width: 150px;
    border: 2px solid #f8741d;
    transition: opacity 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.image-container:hover .profile-image {
    opacity: 0.5; /* Diminui a opacidade da imagem quando o mouse passa por cima */
}

.image-container:hover .overlay {
    opacity: 1; /* Torna a sobreposição visível quando o mouse passa por cima */
}

/* ============================== HEADER =================================== */
#bg_nav {
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 9999999;
}
 
.dropdown-menu{
    background-color: #292929;
    border: 1px solid white;
    border-radius: 20px;
}

.dropdown-item{
    color: white;
    width: 100%;
}

.dropdown-item:hover{
    background-color: #f8741d;
    border-radius: 20px;
    color: white;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    background-color: #181818;
}

.btn_pesquisar {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-box-shadow: 0px 0px 60px #f8741d;
            box-shadow: 0px 0px 60px #2b1069;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
  
.btn_pesquisar:active {
    scale: 0.92;
}
  
.btn_pesquisar:hover {
    background: rgb(253, 152, 21);
    background: -webkit-gradient(linear, right top, left top, from(rgba(233, 136, 25, 0.681)), color-stop(60%, rgba(31, 215, 232, 0.873)));
    background: linear-gradient(270deg, rgba(25, 5, 73, 0.681) 0%, rgba(248, 103, 18, 0.873) 60%);
    color: rgb(42, 10, 78);
}

#bg_form_pesquisar{
    background: transparent;
    backdrop-filter: blur(15px);
}

#bg_form_pesquisar::placeholder {
    color: white;
  }

#bg_form_pesquisar:focus {
    color: white;
  }
  

/* ============================== DESTAQUES =================================== */
.card_destaque{
    margin-right: 20px;
    background-color: #292929;
    color: white;
    -webkit-box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(248, 91, 29, 0.863);
          box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 18px rgb(224, 77, 19);
}

.btn_destaques {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .btn_destaques:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  
  .btn_destaques-content {
    position: relative;
    z-index: 1;
  }
  
  .btn_destaques::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(255, 132, 17) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    -webkit-transition: all 0.475s;
    transition: all 0.475s;
  }

/* ============================== PEDIDOS =================================== */
  tabela{
        background-color: #181818;
        
  }
/* ============================== FOOTER =================================== */
footer{
    background-color: #181818;
    padding: 50px;
}

.cor_txt_footer{
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10.5pt;
}

.cor_txt_footer:hover {
    color: #f8741d;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}