#bg_nav{
    backdrop-filter: blur(15px);
}

#fundo_index{
    background-color: rgb(26, 26, 26);
}

.btn_pesquisar {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-box-shadow: 0px 0px 60px #db9b24;
            box-shadow: 0px 0px 60px #2b1069;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn_pesquisar:active {
    scale: 0.92;
  }
  
  .btn_pesquisar:hover {
    background: rgb(230, 141, 26);
    background: -webkit-gradient(linear, right top, left top, from(rgba(233, 136, 25, 0.681)), color-stop(60%, rgba(31, 215, 232, 0.873)));
    background: linear-gradient(270deg, rgba(25, 5, 73, 0.681) 0%, rgba(202, 143, 33, 0.873) 60%);
    color: rgb(42, 10, 78);
  }